@model IEnumerable<ChatMessageViewModel>

@{
    ViewData["Title"] = "Чат с потребител";
    var group = ViewData.ContainsKey("Group") ? ViewData["Group"] : "";
    var myUserIdentifier = ViewData.ContainsKey("UserIdentifier") ? ViewData["UserIdentifier"] : "";
}

<div id="messagesContainer" class="row" style="height: 600px;">
    <input id="groupName" type="hidden" value="@group" />
    <input id="myUserIdentifier" type="hidden" value="@myUserIdentifier" />
    <div class="card card-secondary direct-chat direct-chat-secondary col-md-6 offset-md-3 mt-5 h-100">
        <div class="card-header">
            <h3 class="card-title">Чат с потребител</h3>
            <div class="card-tools">
                <span data-toggle="tooltip" title="3 New Messages" class="badge badge-light">0</span>
                <button type="button" class="btn btn-tool" data-toggle="tooltip" title="Contacts" data-widget="chat-pane-toggle">
                    <i class="fas fa-comments"></i>
                </button>
                <button id="closeBtn" type="button" class="btn btn-tool" data-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>

        <div class="card-body">
            <div class="direct-chat-messages h-100">
                @foreach (var msg in Model)
                {
                    <div class="direct-chat-infos clearfix">
                        <span class="direct-chat-name float-left text-primary">@msg.Name</span>
                        <span class="direct-chat-timestamp float-right">@msg.SentOn</span>
                    </div>
                    <img class="direct-chat-img" src="@msg.AvatarUrl" alt="message user image">
                    <div class="direct-chat-text">
                        @msg.Message
                    </div>
                }
            </div>
        </div>

        <div class="card-footer">
            <form action="#" method="post">
                <div class="input-group">
                    <input id="message" type="text" name="message" placeholder="Напишете съобщение ..." class="form-control">
                    <span class="input-group-append">
                        <button id="sendBtn" type="button" class="btn btn-primary">Send</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
<form id="antiForgeryForm" method="post"></form>

@section Scripts {
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat-admin.js" asp-append-version="true"></script>
}
