@model AttractionsListViewModel
@{
    ViewData["Title"] = "Всички обекти | ExploreBulgaria";
}

<div>
    <div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4>Discover Our Weekly Offers</h4>
                <h2>Amazing Prices &amp; More</h2>
                <div class="border-button"><a href="about.html">Discover More</a></div>
            </div>
        </div>
    </div>
</div>

 <div class="search-form">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <form id="search-form" name="gs" method="post" role="search">
            <div class="row">
              <div class="col-lg-2">
                <h4>Филтрирай обектите по:</h4>
              </div>
              <div class="col-lg-3">
                  <fieldset>
                      <select name="Категория" class="form-select" aria-label="Default select example" id="chooseLocation" onChange="this.form.click()">
                          <option>Категория</option>
                          @foreach (var category in Model.Categories)
                          {
                              <option value="@category.Id">@category.Name</option>                           
                          }
                      </select>
                  </fieldset>
              </div>
              <div class="col-lg-3">
                  <fieldset>
                      <select name="Подкатегория" class="form-select" aria-label="Default select example" id="choosePrice" onChange="this.form.click()">
                          <option>Подкатегория</option>
                          @foreach (var subcategory in Model.Subcategories)
                          {
                              <option value="@subcategory.Id">@subcategory.Name</option>
                          }
                      </select>  
                  </fieldset>
              </div>
              <div class="col-lg-2">
                  <fieldset>
                      <select name="Регион" class="form-select" aria-label="Default select example" id="choosePrice" onChange="this.form.click()">
                          <option>Регион</option>
                          @foreach (var region in Model.Regions)
                          {
                              <option value="@region.Id">@region.Name</option>
                          }
                      </select>
                  </fieldset>
              </div>
              <div class="col-lg-2">                        
                  <fieldset>
                      <button class="border-button text-center">Търси</button>
                  </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="amazing-deals">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading text-center">
                    <h2>Best Weekly Offers In Each City</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>
            </div>
                @foreach (var attraction in Model.Attractions)
                {
                    <div class="col-lg-6 col-sm-6">
                        <div class="item">
                            <div class="row">                               
                                <div class="col-lg-6">
                                    <div class="image">
                                        <img src="@attraction.ImageUrls.FirstOrDefault()" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-6 align-self-center">
                                    <div class="content">
                                        <span class="info">*@attraction.RegionName</span>
                                        <h4 class="lh-1">@attraction.Name</h4>
                                        <div class="row">
                                            <div class="col-4">
                                                <i class="fa fa-clock"></i>
                                                <span class="list">@attraction.CommentsCount</span>
                                            </div>
                                            <div class="col-4">
                                                <i class="fa fa-map"></i>
                                                <span class="list">@attraction.ImagesCount</span>
                                            </div>
                                            <div class="col-4">
                                                <i class="fa fa-map"></i>
                                                <span class="list">@attraction.CreatedOn</span>
                                            </div>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet dire consectetur adipiscing elit.</p>
                                        <form id="form" asp-controller="Attractions" asp-action="Details" method="post">
                                            <input type="hidden" asp-for="@attraction.Id">
                                        </form>
                                        <div class="main-button">
                                            <a onclick="submitForm()" href="javascript:void(0)">Разгледай</a>
                                        </div>
                                    </div>
                                </div>
                            </div>                                                                       
                        </div>
                    </div>
                }         
                    <partial name="_PagingPartial" model="@Model" />
        </div>
    </div>
</div>

@section Scripts {
    <script>
        const submitForm = function() {
            const form = document.getElementById('form');
            form.submit();
        }
    </script>
}

