@model AttractionsListViewModel
@{
    ViewData["Title"] = "Всички обекти | ExploreBulgaria";
}

<div>
    <div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4>Опознай България с нас</h4>
                <h2>Страхотни забележителности &amp; още</h2>
                <div class="border-button"><a>Разгледай</a></div>
            </div>
        </div>
    </div>
</div>

 <partial name="_FilterAttractionsPartial" model="@Model.FilterModel" />
</div>

<div class="amazing-deals">
    <div class="container">
        <div class="row all-items">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading text-center">
                    <h2>Best Weekly Offers In Each City</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>
            </div>
            @foreach (var attraction in Model.Attractions)
            {
                <div class="col-lg-6 @if(Model.Attractions.Count() <= 6){<text>offset-lg-3</text>} col-sm-6 card-outer">
                    <div class="item card-inner">
                        <div class="row">                               
                            <div class="col-lg-6">
                                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        @for (int i = 0; i < attraction.ImagesCount; i++)
                                        {
                                            if (i == 0)
                                            {
                                                <div class="carousel-item image active">
                                                    <img style="height: 350px" src="@attraction.ImageUrls[i]" class="d-block w-100" alt="...">
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="carousel-item image">
                                                    <img style="height: 350px" src="@attraction.ImageUrls[i]" class="d-block w-100" alt="...">
                                                </div>
                                            }                                
                                        }                                      
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                                <div class="content">
                                    <span class="info">*@attraction.RegionName</span>
                                    <h4 class="lh-1" @*style="height: 70px"*@>@attraction.Name</h4>
                                    <div class="row">
                                        <div class="col-4">
                                            <i class="fa-regular fa-comments"></i>
                                            <span class="list">@attraction.CommentsCount</span>
                                        </div>
                                        <div class="col-4">
                                            <i class="fa-regular fa-images"></i>
                                            <span class="list">@attraction.ImagesCount</span>
                                        </div>
                                        <div class="col-4">
                                            <i class="fa-regular fa-calendar-days"></i>
                                            <span class="list">@attraction.CreatedOn.ToShortDateString()</span>
                                        </div>
                                    </div>
                                    <p>
                                        <i class="fa-regular fa-user"></i>
                                        @attraction.CreatedByUser
                                    </p>
                                    <p>@attraction.Description ...</p>
                                    <form id="form" asp-controller="Attractions" asp-action="Details" method="post">
                                        <input type="hidden" asp-for="@attraction.Id">
                                    </form>
                                    <div class="main-button">
                                        <a onclick="submitForm()" href="javascript:void(0)">Разгледай</a>
                                    </div>
                                </div>
                            </div>
                        </div>                                                                       
                    </div>
                </div>
            }         
                    <partial name="_PagingPartial" model="@Model" />
        </div>
    </div>
</div>

@section Scripts {
    <script>
        const submitForm = function() {
            const form = document.getElementById('form');
            form.submit();
        }       
    </script>
    <script src="~/js/filter-attractions-ajax.js"></script>
}

