@using ExploreBulgaria.Web.Common
@model AttractionDetailsViewModel

@{
    ViewData["Title"] = "Детайли за обект";
}

<div class="cities-town" style="padding-top: 50px">
    <div class="container">
        <div class="row">
            <div class="slider-content">
                <div class="row">
                    <div class="col-lg-12">
                        <h2><em>@Model.Name</em></h2>
                          <div class="mb-3">
                            <a class="text-secondary" asp-controller="Attractions" asp-action="All" asp-route-categoryName="@Model.CategoryName">@Model.CategoryName ></a>
                            <a class="text-secondary" asp-controller="Attractions" asp-action="All" asp-route-categoryName="@Model.CategoryName"
                               asp-route-subcategoryName="@Model.SubcategoryName">@Model.SubcategoryName ></a>
                            <a class="text-secondary" asp-controller="Attractions" asp-action="All" asp-route-categoryName="@Model.CategoryName" 
                                  asp-route-subcategoryName="@Model.SubcategoryName" asp-route-regionName="@Model.RegionName">@Model.RegionName</a>
                        </div>
                        <ul class="item-rating" onclick="postVote(event)">
                            <li class="star-@if(Model.AverageVote >= 1) {<text>fill</text>}else{<text>empty</text>}"><i class="fas fa-star" data-vote="1"></i></li>
                            <li class="star-@if(Model.AverageVote >= 2) {<text>fill</text>}else{<text>empty</text>}"><i class="fas fa-star" data-vote="2"></i></li>
                            <li class="star-@if(Model.AverageVote >= 3) {<text>fill</text>}else{<text>empty</text>}"><i class="fas fa-star" data-vote="3"></i></li>
                            <li class="star-@if(Model.AverageVote >= 4) {<text>fill</text>}else{<text>empty</text>}"><i class="fas fa-star" data-vote="4"></i></li>
                            <li class="star-@if(Model.AverageVote == 5) {<text>fill</text>}else{<text>empty</text>}"><i class="fas fa-star" data-vote="5"></i></li>
                            <li><span id="averageVoteValue">@Model.AverageVote.ToString("0.0")</span><span> / 5.0</span></li>
                        </ul>                 
                    </div>
                    <div class="col-lg-12">
                        <div class="owl-cites-town owl-carousel">
                            @foreach (var url in Model.RemoteImageUrls)
                            {
                                <div class="item">
                                    <div class="thumb">
                                        <img src="@url" alt="">
                                    </div>
                                </div>
                            }
                            @foreach (var url in Model.BlobStorageUrls)
                            {
                                <div class="item">
                                    <div class="thumb">
                                        <img src="@Url.Action("GetImage", "Attractions", new { area = "Administration", blobName = url })" alt="">
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="card mb-0 mt-5">
                        <div class="card-body">
                            <p class="card-text" style="color: grey">
                                @Model.Description
                            </p>
                            <p class="card-text mt-5">
                                <div class="=row">
                                    <small class="text-secondary">Добавено от: </small>
                                    <small>
                                        <span>
                                            <img src="@Model.AddedByVisitor.UserAvatarUrl" class="autor-img rounded-circle mr-2" />
                                        </span>
                                        <span class="text-primary">@Model.AddedByVisitor.UserFirstName @Model.AddedByVisitor.UserLastName</span>
                                    </small>
                                </div>
                            </p>
                        </div>
                    </div>
                    <input id="latitude" type="hidden" value="@Model.Location.Y"/>
                    <input id="longitude" type="hidden" value="@Model.Location.X"/>
                    <input id="description" type="hidden" value="@Model.Description.Substring(0, 100)"/>
                    <div id="map" style="width: 1200px; height: 300px;" class="card mb-0 mt-5"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row  d-flex justify-content-center">
        <div id="commentsContainer" class="col-md-8">
            <div class="headings d-flex justify-content-between align-items-center mb-3">
                <h5>Коментари</h5>
            </div>
            @if (User.Identity?.IsAuthenticated ?? false)
            {
                <div id="addComment" class="card p-3 mt-2">
                    <div class="row">
                        <form method="post">
                            <input id="attractionId" type="hidden" name="attractionId" value="@Model.Id" />
                            <textarea id="commentText" class="text-secondary col-lg-9" placeholder="Напиши коментар..."></textarea>
                            <button type="submit" onclick="addComment(event)" class="main-button col-lg-3" style="width: 115px; margin: 4px">Добави</button>
                        </form>
                    </div>
                </div>
            }
            @foreach (var comment in Model.Comments)
            {
                <div class="card p-3 mt-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="user d-flex flex-row align-items-center">
                            <img src="@comment.AddedByVisitor.UserAvatarUrl" class="user-img rounded-circle mr-2">
                            <div class="row">
                                <small class="font-weight-bold text-primary">@comment.AddedByVisitor.UserFirstName @comment.AddedByVisitor.UserLastName</small>
                                <small class="font-weight-bold text-secondary">@Html.Raw(comment.Text)</small>
                            </div>
                        </div>
                        <small class="text-secondary">@comment.CreatedOn.ToShortDateString()</small>
                    </div>
                    <div class="action d-flex justify-content-between mt-2 align-items-center">
                        <div class="reply px-4">
                            <small>Remove</small>
                        </div>
                        <input type="hidden" name="commentId" value="@comment.Id">
                        <div class="d-flex flex-row align-items-center like">
                            <i onclick="likeComment(event)" class="far fa-thumbs-up mx-2 fa-xs text-black @if(comment.DislikedByVisitors.Any(v => v.Id == User.VisitorId()) || (comment.AddedByVisitor.Id == User.VisitorId()) || (!User.Identity?.IsAuthenticated ?? false)) {<text>disabled</text>}"></i>
                            <p class="small text-muted mb-0 likes">@comment.LikedByVisitors.Count()</p>
                        </div>
                        <div class="d-flex flex-row align-items-center dislike">
                            <i onclick="dislikeComment(event)" class="far fa-thumbs-down mx-2 fa-xs text-black @if(comment.LikedByVisitors.Any(v => v.Id == User.VisitorId()) || (comment.AddedByVisitor.Id == User.VisitorId()) || (!User.Identity?.IsAuthenticated ?? false)) {<text>disabled</text>}"></i>
                            <p class="small text-muted mb-0 dislikes">@comment.DislikedByVisitors.Count()</p>
                        </div>
                        <div class="d-flex flex-row align-items-center">
                            <i onclick="appendReplySection(event)" class="far fa-comment mx-2 fa-xs text-black @if(!User.Identity?.IsAuthenticated ?? false) {<text>disabled</text>}"></i>
                            <p class="small text-muted mb-0 replies">@comment.Replies.Count()</p>
                        </div>
                        <div class="icons align-items-center">
                            <i class="fa fa-check-circle-o check-icon text-primary"></i>
                        </div>                        
                    </div>  
                    <div class="row replies-container">Отговори</div>
                </div>
            }
            <form method="post" id="antiForgeryForm"></form>
        </div>      
    </div>
</div>

@section Links {
    <link rel="stylesheet" href="~/css/comments.css" />
    <link rel="stylesheet" href="~/css/votes.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css" 
        integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" 
        crossorigin="" />
}

@section Scripts {
    <script src="~/js/comments-ajax.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
        integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
        crossorigin=""></script>
    <script src="~/js/leaflet.js"></script>   
    <script src="~/js/votes-ajax.js"></script>
}

