@using ExploreBulgaria.Web.Common
@model AttractionDetailsViewModel

<div class="cities-town" style="padding-top: 50px">
    <div class="container">
        <div class="row">
            <div class="slider-content">
                <div class="row">
                    <div class="col-lg-12">
                        <h2><em>@Model.Name</em></h2>
                        <div class="mb-3">
                            <span class="text-secondary">@Model.CategoryName ></span>
                            <span class="text-secondary">@Model.SubcategoryName ></span>
                            <span class="text-secondary">@Model.RegionName</span>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="owl-cites-town owl-carousel">
                            @foreach (var url in Model.ImageUrls)
                            {
                                <div class="item">
                                    <div class="thumb">
                                        <img src="@url" alt="">
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="card mb-0 mt-5">
                        <div class="card-body">
                            <p class="card-text" style="color: grey">
                                @Model.Description
                            </p>
                            <p class="card-text mt-5">
                                <div class="=row">
                                    <small class="text-secondary">Добавено от: </small>
                                    <small>
                                        <span>
                                            <img src="@Model.AddedByVisitor.UserAvatarUrl" class="autor-img rounded-circle mr-2" />
                                        </span>
                                        <span class="text-primary">@Model.AddedByVisitor.UserFirstName @Model.AddedByVisitor.UserLastName</span>
                                    </small>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row  d-flex justify-content-center">
        <div id="commentsContainer" class="col-md-8">
            <div class="headings d-flex justify-content-between align-items-center mb-3">
                <h5>Коментари</h5>
            </div>
            @if (User.Identity?.IsAuthenticated ?? false)
            {
                <div id="addComment" class="card p-3 mt-2">
                    <div class="row">
                        <form method="post">
                            <input id="attractionId" type="hidden" name="attractionId" value="@Model.Id" />
                            <textarea id="commentText" class="text-secondary col-lg-9" placeholder="Напиши коментар..."></textarea>
                            <button type="submit" onclick="addComment(event)" class="main-button col-lg-3" style="width: 115px; margin: 4px">Добави</button>
                        </form>
                    </div>
                </div>
            }
            @foreach (var comment in Model.Comments)
            {
                <div class="card p-3 mt-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="user d-flex flex-row align-items-center">
                            <img src="@comment.AddedByVisitor.UserAvatarUrl" class="user-img rounded-circle mr-2">
                            <div class="row">
                                <small class="font-weight-bold text-primary">@comment.AddedByVisitor.UserFirstName @comment.AddedByVisitor.UserLastName</small>
                                <small class="font-weight-bold text-secondary">@Html.Raw(comment.Text)</small>
                            </div>
                        </div>
                        <small class="text-secondary">@comment.CreatedOn.ToShortDateString()</small>
                    </div>
                    <div class="action d-flex justify-content-between mt-2 align-items-center">
                        <div class="reply px-4">
                            <small>Remove</small>
                        </div>
                        <input type="hidden" name="commentId" value="@comment.Id">
                        <div class="d-flex flex-row align-items-center like">
                            <i onclick="likeComment(event)" class="far fa-thumbs-up mx-2 fa-xs text-black @if(comment.DislikedByVisitors.Any(v => v.UserId == User.Id()) || (!User.Identity?.IsAuthenticated ?? false)) {<text>disabled</text>}"></i>
                            <p class="small text-muted mb-0 likes">@comment.LikedByVisitors.Count()</p>
                        </div>
                        <div class="d-flex flex-row align-items-center dislike">
                            <i onclick="dislikeComment(event)" class="far fa-thumbs-down mx-2 fa-xs text-black @if(comment.LikedByVisitors.Any(v => v.UserId == User.Id()) || (!User.Identity?.IsAuthenticated ?? false)) {<text>disabled</text>}"></i>
                            <p class="small text-muted mb-0 dislikes">@comment.DislikedByVisitors.Count()</p>
                        </div>
                        <div class="d-flex flex-row align-items-center">
                            <i onclick="appendReplySection(event)" class="far fa-comment mx-2 fa-xs text-black @if(!User.Identity?.IsAuthenticated ?? false) {<text>disabled</text>}"></i>
                            <p class="small text-muted mb-0 replies">@comment.Replies.Count()</p>
                        </div>
                        <div class="icons align-items-center">
                            <i class="fa fa-check-circle-o check-icon text-primary"></i>
                        </div>                        
                    </div>  
                    <div class="row replies-container">                     
                    </div>
                </div>
            }
        </div>
        <form method="post" id="antiForgeryForm"></form>
    </div>
</div>

@section Links {
    <link rel="stylesheet" href="~/css/comments.css" />
}

    @section Scripts {
    <script src="~/js/comments-ajax.js"></script>
}

