@model AttractionListViewModel
@{
    ViewData["Title"] = "Всички обекти | ExploreBulgaria";
}

<div>
    <div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4>Опознай България с нас</h4>
                <h2>Страхотни забележителности &amp; още</h2>
                <div class="border-button"><a>Разгледай</a></div>
            </div>
        </div>
    </div>
</div>

 <partial name="_FilterAttractionsPartial" model="@Model.FilterModel" />
</div>

<div class="amazing-deals">
    <div class="container">
        <div class="row all-items">
            @foreach (var attraction in Model.Attractions)
            {
                <div class="col-lg-6 @if(Model.Attractions.Count() <= 6){<text>offset-lg-3</text>} col-sm-6 card-outer">
                    <div class="item card-inner">
                        <div class="row">                               
                            <div class="col-lg-6">
                                <div class="image">
                                    @if (attraction.RemoteImageUrls.Any())
                                    {
                                        <img src="@attraction.RemoteImageUrls.FirstOrDefault()" style="height: 350px"/>
                                    }
                                    else if (attraction.BlobStorageUrls.Any())
                                    {
                                        <img src="@Url.Action("GetImage", "Attractions", new { area = "", blobName = attraction.BlobStorageUrls.FirstOrDefault()! })" style="height: 350px" />
                                    }
                                </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                                <div class="content">
                                    <span class="info">*@attraction.RegionName</span>
                                    <h4 class="lh-1" @*style="height: 70px"*@>@attraction.Name</h4>
                                    <ul class="item-rating">
                                        <li class="star-@if(attraction.AverageVote >= 1) {<text>fill</text>}else{<text>empty</text>}"><i class="fas fa-star" data-vote="1"></i></li>
                                        <li class="star-@if(attraction.AverageVote >= 2) {<text>fill</text>}else{<text>empty</text>}"><i class="fas fa-star" data-vote="2"></i></li>
                                        <li class="star-@if(attraction.AverageVote >= 3) {<text>fill</text>}else{<text>empty</text>}"><i class="fas fa-star" data-vote="3"></i></li>
                                        <li class="star-@if(attraction.AverageVote >= 4) {<text>fill</text>}else{<text>empty</text>}"><i class="fas fa-star" data-vote="4"></i></li>
                                        <li class="star-@if(attraction.AverageVote == 5) {<text>fill</text>}else{<text>empty</text>}"><i class="fas fa-star" data-vote="5"></i></li>
                                        <li><span id="averageVoteValue">@attraction.AverageVote.ToString("0.0")</span><span> / 5.0</span></li>
                                    </ul>    
                                    <div class="row">
                                        <div class="col-4">
                                            <i class="fa-regular fa-comments"></i>
                                            <span class="list">@attraction.CommentsCount</span>
                                        </div>
                                        <div class="col-4">
                                            <i class="fa-regular fa-images"></i>
                                            <span class="list">@attraction.ImagesCount</span>
                                        </div>
                                        <div class="col-4">
                                            <i class="fa-regular fa-calendar-days"></i>
                                            <span class="list">@attraction.CreatedOn.ToShortDateString()</span>
                                        </div>
                                    </div>
                                    <p>
                                        <i class="fa-regular fa-user"></i>
                                        @attraction.CreatedByVisitor
                                    </p>
                                    <p>@attraction.Description ...</p>
                                    <a class="main-button" asp-controller="Attractions" asp-action="Details" asp-route-id="@attraction.Id" asp-route-information="@attraction.GenerateSlug()">Разгледай</a>
                                </div>
                            </div>
                        </div>                                                                       
                    </div>
                </div>
            }  
            <form id="antiForgeryForm" method="post"></form>
            <partial name="_PagingPartial" model="@Model" />
        </div>
    </div>
</div>

@section Links {
    <link rel="stylesheet" href="~/css/votes.css" />
}

@section Scripts {
    <script src="~/js/filter-attractions-ajax.js"></script>
}

