@using ExploreBulgaria.Web.Common;
@model UserProfileViewModel
@{
    ViewData["Title"] = "Лични данни";
}

<div class="container mt-5 mb-3 pt-4 d-flex justify-content-center">
    <div class="row">
        <div class="card p-4 me-4 col-lg-3 bg-secondary rounded-4">
            <partial name="_ProfilePartial" />
        </div>
        <div class="card p-4 col-lg-9 rounded-4">
            <div class="image d-flex flex-column justify-content-center align-items-center">
                <button class="btn btn-link">
                    <img src="@Model.AvatarUrl" height="100" width="100" class="rounded-circle" />
                </button>
                <span class="name mt-3">@Model.FirstName @Model.LastName</span>
                <span class="idd">@Model.UserName</span>
                <span class="idd">@Model.Email</span>
                <div class="d-flex flex-row justify-content-center align-items-center gap-2">
                    <span class="idd1">@Model.PhoneNumber</span>
                    <span><i class="fa-solid fa-mobile-screen-button"></i></span>
                </div>
                <div class="d-flex mt-2">
                    <a asp-controller="Users" asp-action="EditProfile" class="main-button">Редактирай</a>
                </div>
                <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center">
                    <span><i class="fa fa-twitter"></i></span> <span><i class="fa fa-facebook-f"></i></span>
                    <span><i class="fa fa-instagram"></i></span> <span><i class="fa fa-linkedin"></i></span>
                </div>
                <div class=" px-2 rounded mt-4 date ">
                    <span class="join">Присъединил се @Model.CreatedOn.ToShortDateString()</span>
                </div>
            </div>
        </div>
    </div>
</div>

@section Links {
    <link rel="stylesheet" href="~/css/profile.css" />
}
