@using ExploreBulgaria.Web.ViewModels.Users
@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<div class="registration-form">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form id="registration-form" method="post">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4>Регистрация</h4>
                        </div>
                        <div asp-validation-summary="ModelOnly" class="text-danger text-center"></div>
                        <div class="col-lg-6">
                            <fieldset>
                                <label class="form-label" asp-for="@Model.FirstName">Име</label>
                                <input class="form-control" autocomplete="username" aria-required="true" asp-for="@Model.FirstName" />
                                <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                            </fieldset>
                        </div>
                        <div class="col-lg-6">
                            <fieldset>
                                <label class="form-label" asp-for="@Model.LastName">Фамилия</label>
                                <input class="form-control" autocomplete="username" aria-required="true" asp-for="@Model.LastName" />
                                <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                            </fieldset>
                        </div>
                        <div class="col-lg-6">
                            <fieldset>
                                <label class="form-label" asp-for="@Model.UserName">Потребителско име</label>
                                <input id="username" class="form-control" autocomplete="username" aria-required="true" asp-for="@Model.UserName" />
                                <span id="usernameErr" asp-validation-for="@Model.UserName" class="text-danger"></span>
                            </fieldset>
                        </div>
                        <div class="col-lg-6">
                            <fieldset>
                                <label class="form-label" asp-for="@Model.Email">Имейл</label>
                                <input id="email" class="form-control" autocomplete="username" aria-required="true" asp-for="@Model.Email" />
                                <span id="emailErr" asp-validation-for="@Model.Email" class="text-danger"></span>
                            </fieldset>
                        </div>
                        <div class="col-lg-6">
                            <fieldset>
                                <label class="form-label" asp-for="@Model.Password">Парола</label>
                                <input class="form-control" type="password" autocomplete="new-password" aria-required="true" asp-for="@Model.Password" />
                                <span asp-validation-for="@Model.Password" class="text-danger"></span>
                            </fieldset>
                        </div>
                        <div class="col-lg-6">
                            <fieldset>
                                <label class="form-label" asp-for="@Model.ConfirmPassword">Повтори парола</label>
                                <input class="form-control" type="password" autocomplete="new-password" aria-required="true" asp-for="@Model.ConfirmPassword" />
                                <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                            </fieldset>
                        </div>
                        <div class="col-lg-4 offset-lg-4">
                            <fieldset>
                                <button class="main-button">Регистрирация</button>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        let antiForgeryToken = document.querySelector('input[name=__RequestVerificationToken]').value;

        let usernameInputElement = document.getElementById('username');
        usernameInputElement.addEventListener('blur', () => {
            let userName = usernameInputElement.value;
            fetch('/api/GetEmailUserName/username', {
                method: 'post',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-TOKEN': antiForgeryToken
                },
                body: JSON.stringify({ userName })
            })
                .then(response => response.json())
                .then(exists => {
                    if (exists) {
                        document.getElementById('usernameErr')
                            .textContent = 'Потребителското име е заето.';
                    }
                });
        })

        let emailInputElement = document.getElementById('email');
        emailInputElement.addEventListener('blur', () => {
            let email = emailInputElement.value;
            fetch('/api/GetEmailUserName/email', {
                method: 'post',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-TOKEN': antiForgeryToken
                },
                body: JSON.stringify({ email })

            })
                .then(response => response.json())
                .then(exists => {
                    if (exists) {
                        document.getElementById('emailErr')
                            .textContent = 'Имейлът е зает.';
                    }
                });
        })

    </script>
}
